
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(240, 240, 240, 0.95);
  color: #c11d1d;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(240, 240, 240, 0.95);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip h5{
  font-size: 20px;
  font-weight: 500;
  margin: 2px 10px 4px 2px;
  background: rgba(255, 255, 255, 0.95);
  color: #000000;
  font-family: "Arial";
}

.d3-tip thead td {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.95);
  font-family: "Arial";
}

.d3-tip td {
  padding: 2px 10px 2px 2px;
}

.d3-tip thead tr {
  paddin-top: 10px;
}

body {
    font-family: "Open Sans";
    margin: 10px;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.95);
    font-family: "Arial";
    color: #000000;
}


.d3-tip tbody {
    font-family: "Open Sans";
    margin: 10px;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.95);
    font-family: "Arial";
    color: #000000;
}

label {
    font-size: 13px;
}

#main {
    margin: 20px;
}
